@model MotoRiders.CR.Models.ClienteModel

@{
    ViewBag.Title = "Mi Perfil";
}

<h2>Mi Perfil</h2>

<div>
    <h3>@Model.nombre</h3>
    <dl class="dl-horizontal">
        <dt>
            <strong>Cédula:</strong>
        </dt>
        <dd>
            @Model.cedula
        </dd>
        <dt>
            <strong>Dirección:</strong>
        </dt>
        <dd>
            @Model.direccion
        </dd>
        <dt>
            <strong>Teléfono:</strong>
        </dt>
        <dd>
            @Model.telefono
        </dd>
        <dt>
            <strong>Email:</strong>
        </dt>
        <dd>
            @Model.email
        </dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("InicioSesion", "Cuenta")" class="btn btn-primary">Cerrar Sesión</a>
</p>


<!-- Agregar enlaces a Bootstrap JS y Popper.js (requeridos para algunos componentes de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Enlace al archivo JavaScript personalizado -->
<script src="script.js"></script>