@{
    ViewBag.Title = "index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Agregar enlaces a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Enlace al archivo CSS personalizado -->
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <link href="~/Content/Imagenes/ima.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@



    <!-- Navbar de Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue sticky-top">
        <div class="container">
            <img src="~/Content/Imagenes/ima.png" class="inicio-icono" alt="Logo de la empresa">
            <span class="logo-text">MotoRiders</span>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="container">
                    <input class="label-check" id="label-check" type="checkbox">
                    <label for="label-check" class="hamburger-label">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </label>
                </div>
            </button>


            @*El primero parametro es el nombre del boton, wel segundo el index de la carpeta de la vista del tercer parametro*@
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item active">-->
                    @*<a href="#" id="motosBtn" class="btn-link">Motos</a>*@
                    <!--@Html.ActionLink("Motos", "Index", "Producto", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="cuadraciclosBtn" class="btn-link">Cuadraciclos</a>*@
                    <!--@Html.ActionLink("Cuadraciclos", "Index", "Cuadraciclo", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="motosElectricasBtn" class="btn-link">Motos Eléctricas</a>*@
                    <!--@Html.ActionLink("Motos Eléctricas", "Index", "MotosElectricas", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="repuestosBtn" class="btn-link">Repuestos</a>*@
                    <!--@Html.ActionLink("Repuestos", "Index", "Repuestos", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="tallerBtn" class="btn-link">Taller</a>*@
                    <!--@Html.ActionLink("Taller", "Index", "Talleres", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="contactoBtn" class="btn-link">Contacto</a>*@
                    <!--@Html.ActionLink("Contacto", "Index", "Contacto", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="contactoBtn" class="btn-link">Contacto</a>*@
                    <!--@Html.ActionLink("Carrito", "Index", "CarritoCompra", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="contactoBtn" class="btn-link">Contacto</a>*@
                    <!--@Html.ActionLink("Perfil", "MiPerfil", "Cuenta", new { area = "" }, new { @class = "btn-link" })
    </li>
    <li class="nav-item">-->
                    @*<a href="#" id="contactoBtn" class="btn-link">Contacto</a>*@
                    <!--@Html.ActionLink("Prueba Manejo", "Index", "PruebaManejo", new { area = "" }, new { @class = "btn-link" })
    </li>-->
                    @*REPORTES*@

                    <li class="nav-item">

                        @Html.ActionLink("Reporte Tokens", "Index", "Reporte", new { area = "" }, new { @class = "btn-link" })
                    </li>

                    <li class="nav-item">

                        @Html.ActionLink("Reporte Compras", "Index", "ReporteCompras", new { area = "" }, new { @class = "btn-link" })
                    </li>

                    <li class="nav-item">

                        @Html.ActionLink("Reporte Cotización", "Index", "ReporteCotización", new { area = "" }, new { @class = "btn-link" })
                    </li>

                    <li class="nav-item">

                        @Html.ActionLink("Reporte Prueba Manejo", "Index", "ReportePruebaManejo", new { area = "" }, new { @class = "btn-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Auditorias", "Index", "Auditoria", new { area = "" }, new { @class = "btn-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Contenido del informe Power BI -->
    <div class="container">
        <h1>Informe Power BI</h1>
        <div class="iframe-container">
            <iframe title="POWERBI" src="https://app.powerbi.com/view?r=eyJrIjoiZjYwNzM5OTYtMWZhZC00ZDk3LTk5NDQtNWRjYmFlNDhmMmU3IiwidCI6IjEyODg2NTI1LTVkNTgtNDg4MS05N2U5LTgwMjBhYzNiY2Y2NCJ9" allowFullScreen="true"></iframe>
        </div>
        <h1>TOKENS</h1>
    </div>




    <!-- Agregar enlaces a Bootstrap JS y Popper.js (requeridos para algunos componentes de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Enlace al archivo JavaScript personalizado -->
    <script src="script.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <div class="floating-buttons1">
        <a href="@Url.Action("Index", "HomeAnalistaDatos")" class="tab1">
            <svg class="svgIcon" viewBox="0 0 104 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100.5 40.75V96.5H66V68.5V65H62.5H43H39.5V68.5V96.5H3.5V40.75L52 4.375L100.5 40.75Z" stroke="black" stroke-width="7"></path>
            </svg>
        </a>
        <form action="/HomeAnalistaDatos/CerrarSesion" method="post">
            <button type="submit" class="Btn">
                <div class="sign">
                    <svg viewBox="0 0 512 512">
                        <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                    </svg>
                </div>
                <div class="text">Cerrar Sesión</div>
            </button>
        </form>
    </div>


</body>
</html>

<style>
    .navigation-card {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background-color: rgb(255, 255, 255);
        padding: 15px 20px;
        border-radius: 50px;
    }

    .tab1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
        background-color: rgb(252, 252, 252);
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s;
    }

        .tab1:hover {
            background-color: rgb(227, 223, 223);
        }

    .floating-buttons1 {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 1000;
    }

    .tab1 {
        width: 40px;
        height: 40px;
        padding: 10px;
    }


    /*
    redes sociales*/



</style>

<style>

    .redes .wrapper1 {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        flex-direction: row; /* Cambio a dirección horizontal */
    }

        .redes .wrapper1 .icon1 {
            position: relative;
            background: #fff;
            border-radius: 50%;
            /* margin: 10px; */ /* Puedes ajustar o eliminar el margen según sea necesario */
            width: 50px;
            height: 50px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            margin-right: 10px; /* Ajusta el espacio entre íconos */
        }

        .redes .wrapper1 .tooltip1 {
            position: absolute;
            top: 100%; /* Posiciona el tooltip debajo del ícono */
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
            background: #fff;
            color: #000;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

            .redes .wrapper1 .tooltip1::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                background: #fff;
                top: -3px; /* Posiciona el triángulo encima del tooltip */
                left: 50%;
                transform: translate(-50%) rotate(45deg);
            }

        .redes .wrapper1 .icon1:hover .tooltip1 {
            opacity: 1;
            pointer-events: auto;
        }

            .redes .wrapper1 .icon1:hover .tooltip1::before {
                background: #fff;
            }

        .redes .wrapper1 .facebook:hover,
        .redes .wrapper1 .facebook:hover .tooltip1 {
            background: #1877f2;
            color: #fff;
        }

        .redes .wrapper1 .twitter:hover,
        .redes .wrapper1 .twitter:hover .tooltip1 {
            background: #1da1f2;
            color: #fff;
        }

        .redes .wrapper1 .instagram:hover,
        .redes .wrapper1 .instagram:hover .tooltip1 {
            background: #e4405f;
            color: #fff;
        }
</style>